
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block css %}{% endblock %}
    <link rel="stylesheet" href='{% static "css/main.css" %}' class='img-fluid' />
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href='{% static "css/main.css" %}' class='img-fluid' />

    {% include 'css.html '%}
    
  </head>
  <body>
    {% include 'nav.html' %}
    {% block index %}
    {% endblock %}
    <div style="color:black">
      <br />
    {% block content %}
    {% endblock %}
    </div>
    {% include 'js.html '%}
  </body>
</html>