{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #7D1935;">
  <a class="navbar-brand" href="{% url 'home' %}">eCommerce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {% url 'home' as home_url%}
  {% url 'products' as product_url %}
  {% url 'contact' as contact_url%}
  {% url 'login' as login_url%}
  {% url 'logout' as logout_url%}
  {% url 'register' as register_url%}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="padding-top: 7px;">
      <li class="nav-item {% if request.path == home_url %} active {% endif%}">
        <a class="nav-link" href="{{ home_url }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if request.path == product_url %} active {% endif%}">
        <a class="nav-link" href="{{ product_url }}">Products</a>
      </li>
      <li class="nav-item {% if request.path == contact_url %} active {% endif%}">
        <a class="nav-link" href="{{ contact_url }}">Contact</a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{{ logout_url }}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ register_url }}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ login_url }}">Login</a>
      </li>

      {% endif %}
    </ul>
      <ul style="padding: 0px;margin:0px">
      <li class="nav item">
        <a class="nav-link" href="{% url 'cart' %}" style="display: flex;">
          <div style="position: relative;top: 4px;right: -26px;font-size: 14px;">
            <b>{% if total_products %}{{total_products}}{% else %}0</b>{% endif %}
          </div>
          <img src='{% static "img/cart.png" %}' height="35px" width=auto/></a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0" action="{% url 'search'%}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" name='q' aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-left: 0px">Search</button>
    </form>
  </div>
</nav>

